
@import "vars.scss";

body {
  font-family: sans-serif;
  align-items: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}


.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.board-category {
  justify-content: center;
}

.board-category ul {
  list-style: none;
}

.post-and-replies {
}

.post {
  background-color: var(--post-bg);
  max-width: 60vw;
  margin: 2rem auto;
  padding: 1.5rem;
}

.post p {
  color: var(--post-text);
}

.post-reply {
  max-width: 65vw;
}

.post-content {
  overflow: auto;
}

.post-image {
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-image img {
  max-width: 15vw;
  height: 100%;
  padding: 1rem;
}

.post-image span {
  color: var(--post-img-text);
}

.post p {
}

.post .post-link a, .post .post-link a:hover, .post .post-link a:focus, .post .post-link a:active, .post .post-link a:visited {
  color: var(--post-link-text);
  text-decoration: none;
}

.post .post-quote {
  color: var(--post-quote-text);
}

.post-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 20vw;
  background-color: var(--post-header-bg);
  align-items: center;
}

.post-header p {
  font-weight: bold;
  color: var(--post-username);
}